<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>
    <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Tu hoja de estilos -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<h1 class="title">Sistema de registro de programadores</h1>

<div class="container">




    <!-- Detalles del clima -->
    <div class="weather-card">
        <h2>Sitio web para el registro de aspirantes</h2>
        <p class="current"><a href="/usuarios">Entrar</a> </p>
    </div>

</div>

</body>
</html>

</body>
</html>