<!DOCTYPE html>
<html>
<head>
    <title>Alta de Usuario</title>
</head>
<body>
    <h1>Formulario de Registro</h1>
    <form method="POST" action="/registrar">
        <label>Nombre:</label>
        <input type="text" name="nombre" required><br><br>

        <label>Correo:</label>
        <input type="email" name="correo" required><br><br>

        <label>Mensaje:</label><br>
        <textarea name="mensaje" rows="5" cols="40" required></textarea><br><br>

        <button type="submit">Guardar</button>
    </form>
</body>
</html>
