<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sitio de películas</title>
</head>
<body>
<h1>{{mensaje}}</h1>
<p><b>Título: </b>{{titulo}}</p>
<p><b>Género: </b>{{genero}}</p>
<p><b>Año de estreno: </b>{{anio_estreno}}</p>
<p><b>Rating: </b>{{rating}}</p>
<p><b>Vigente: </b>{{vigente}}</p>
<p><b>Fecha de reseña: </b>{{fecha_resenia}}</p>
<br>
<a href="{{url_for('verificar_rating')}}">Ver rating</a>
<a href="{{url_for('mostrar_peliculas')}}">Mostrar películas</a>
</body>
</html>